<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">

        <!-- 
        137, servers.component.html, added 
        * routerLink 
        * queryParams 
        * fragment 
        -->
        <!-- 139, servers.component.html, modified [routerLink]-->
        <a
            [routerLink]="['/servers',server.id]"
            [queryParams]="{allowEdit:'1'}"
            [fragment]="'loading'"
            href="#"
            class="list-group-item"
            *ngFor="let server of servers">
            {{ server.name }}
        </a>
        
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    
    <!-- 
      129 added link to servers.component.html...
      routerLink attribute does not have the leading slash (produces an error because there is no route "/servers/servers" )...
      <a routerLink="servers">Reload Page</a>
      
      ...adding the slash fixes the problem...
      <a routerLink="/servers">Reload Page</a>
    -->

    <!-- 131 added a new button with a click listener that fires method onReload()-->
    <button 
      class="btn btn-primary" 
      (click)="onReload()"
    >Reload Page</button>

    <app-edit-server></app-edit-server>
    <hr>
    <!-- 139 commented this out <app-server></app-server> -->
  </div>
</div>

